<h4>
  Revenue Report
  <span ng-if="ctrl.year !== 'All'">
    : {{ctrl.year}}
  </span>
  : {{ctrl.product}}
</h4>

<table class="table-bordered table-striped">
  <tr>
    <th>Fiscal Year</th>
    <th>Product</th>
    <th>Region</th>
    <th>Revenue</th>
  </tr>
  <tr ng-repeat="row in ctrl.filteredData" ng-class="{'below-average' : row.revenue < ctrl.average}">
    <td>{{row.year}}</td>
    <td>{{row.product}}</td>
    <td>{{row.country}}</td>
    <td class="revenue-cell">{{row.revenue | millions}}</td>
  </tr>
</table>
